* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ,
    Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* background-color: #e6e6e6; */
}

/* header */
header {
  padding: 30px 4% 30px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

header a {
  text-decoration: none;
  color: #000000;
}

header .pc-nav {
  margin: 0 0 0 auto;
}

header .pc-nav ul {
  list-style: none;
  margin: 0;
  display: flex;
}

header .pc-nav li {
  margin: 0 0 0 15px;
  font-size: 16px;
  font-weight: bold;
}

header .pc-nav li:hover {
  opacity: 40%;
  transition: 1s;
}

.menu {
  display: none;
}

.drawer-nav {
  display: none;
}

/* header small */
@media screen and (max-width: 700px) {
  .pc-nav {
    display: none;
  }

  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-around;
  }
  .menu__line--top,
  .menu__line--middle,
  .menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }
  .menu__line--top {
    top: 0;
  }
  .menu__line--middle {
    top: 14px;
  }
  .menu__line--bottom {
    bottom: 0;
  }
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }

  .drawer-nav {
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    /* transform: translateX(100%) */
    transition: 1s;
    opacity: 95%;
  }

  .drawer-nav ul {
    padding-top: 80px;
  }
  .drawer-nav ul li {
    list-style-type: none;
    font-size: 16px;
    text-align: center;
    margin: 30px;
  }
  .drawer-nav a {
    display: block;
    text-decoration: none;
    color: #000000;
    margin: 0 15px;
    padding: 10px;
    transition: 0.5s;
  }
  .drawer-nav li a:hover {
    color: #ffffff;
    background: #cd5c5c;
    border-bottom: none;
  }

  .in {
    left: 0%;
  }
}

/* body */
/* アイキャッチ */
.eyecatch {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../img/mv.png);
  background-position: center;
  background-size: cover;
  padding-top: 84px;
}

.eyecatch__contents-message1 {
  color: white;
  font-size: 30px;
}

/* お問い合わせ */
/* .contact {
  margin: 50px 10%;
} */

.contact form {
  margin: 50px 10%;
  /* width: 100%; */
}

.contact p {
  font-weight: bold;
}

.contact input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  height: 30px;
  border: rgb(179, 179, 179) solid 1px;
}

.contact textarea {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  border: rgb(179, 179, 179) solid 1px;
}

.contact .btn {
  display: block;
  width: 300px;
  height: auto;
  background-color: black;
  color: white;
  padding: 15px;
  /* font-size: 18px; */
  margin: 0 auto;
  /* text-align: center; */
  border: none;
}

/* footer */
footer {
  padding: 30px 0;
  width: 100%;
  background-color: rgb(36, 35, 35);
  align-items: center;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  color: #fff;
}

.footer-menu p {
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer nav {
  margin: 0 0 0 auto;
}

footer ul {
  list-style: none;
  margin: 0;
  display: flex;
}

footer li {
  padding: 0 10px 0 10px;
  font-size: 12px;
  border-right: 1px solid white;
}

footer li:hover {
  opacity: 40%;
  transition: 1s;
}

footer li:last-child {
  border-right: none;
}
