* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ,
    Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* background-color: #e6e6e6; */
}

/* header */
header {
  padding: 30px 4% 30px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

header a {
  text-decoration: none;
  color: #000000;
}

header .pc-nav {
  margin: 0 0 0 auto;
}

header .pc-nav ul {
  list-style: none;
  margin: 0;
  display: flex;
}

header .pc-nav li {
  margin: 0 0 0 15px;
  font-size: 16px;
  font-weight: bold;
}

header .pc-nav li:hover {
  opacity: 40%;
  transition: 1s;
}

.menu {
  display: none;
}

.sp-nav {
  display: none;
}

/* header small */
@media screen and (max-width: 700px) {
  .pc-nav {
    display: none;
  }

  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-around;
  }
  .menu__line--top,
  .menu__line--middle,
  .menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }
  .menu__line--top {
    top: 0;
  }
  .menu__line--middle {
    top: 14px;
  }
  .menu__line--bottom {
    bottom: 0;
  }
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }

  .sp-nav {
    display: block;
    position: absolute;
    top: 0;
    /*ナビメニューを左に隠した状態になる*/
    left: -30%;
    width: 40%;
    height: 100vh;
    background: #ffffff;
    /*０.7秒かけてナビメニューがスライドする*/
    transition: 0.7s;
  }
  .sp-nav ul {
    padding-top: 80px;
  }
  .sp-nav ul li {
    list-style-type: none;
    font-size: 20px;
  }
  .sp-nav a {
    display: block;
    text-decoration: none;
    color: #000000;
    margin: 0 15px;
    padding: 10px;
    transition: 0.5s;
  }
  .sp-nav li a:hover {
    color: #ffffff;
    background: #cd5c5c;
    border-bottom: none;
  }

  .sp-nav .in {
    transform: translateX(100%);
  }
}

/* body */
/* アイキャッチ */
.eyecatch {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../img/mv.png);
  background-position: center;
  background-size: cover;
}

.eyecatch__contents-message1 {
  color: white;
  font-size: 48px;
  margin-bottom: 20px;
}

.eyecatch__contents-message2 {
  color: white;
  font-size: 24px;
}

/* メッセージ */
.message {
  background: rgb(36, 35, 35);
  /* height: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.message__contents {
  margin: 100px 10%;
}

.message__contents-ttl {
  font-size: 30px;
  color: white;
  margin-bottom: 24px;
}

.message__contents-desc {
  color: white;
  line-height: 1.5;
}

/* サービス */
.service {
  /* background: gray; */
}

.service__ttl {
  text-align: center;
  padding: 80px;
  font-size: 28px;
  font-weight: bold;
}

.service__contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10%;
}

.service__contents-card {
  margin-bottom: 1rem;
  padding: 1rem;
  width: 50%;
  /* background-color: #f0f0f0; */
}

.service__contents-card img {
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
}

.service__contents-ttl {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.service__contents-desc {
  line-height: 1.5;
}

.service__btn {
  text-align: center;
}

.service__btn a {
  display: inline-block;
  padding: 16px 40px;
  color: #fff;
  background: rgb(160, 0, 0);
  font-weight: bold;
  margin-bottom: 50px;
  text-decoration: none;
}

.service__btn a:hover {
  opacity: 40%;
  transition: 1s;
}

@media screen and (max-width: 1000px) {
  .service__contents {
    display: flex;
    justify-content: center;
    margin: 0 10%;
  }

  .service__contents-card {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* ニュース */
.news {
  background: rgb(36, 35, 35);
  padding: 80px 0;
}

.news__contents {
  margin: 0 10%;
}

.news__contetns-header {
  display: flex;
  justify-content: space-between;
  color: white;
  /* padding-top: 80px; */
  align-items: center;
  margin-bottom: 20px;
}

.news__contents-ttl {
  font-size: 30px;
}

.news__contents-btn a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background: rgb(160, 0, 0);
  font-weight: bold;
  text-decoration: none;
}

.news__contents-btn a:hover {
  opacity: 40%;
  transition: 1s;
}

.news li {
  list-style: none;
  /* padding: 24px; */
  margin-bottom: 8px;
  /* list-style: none; */
}

.news li a {
  display: flex;
  text-decoration: none;
  width: 100%;
  padding: 20px 30px;
  background: white;
  color: black;
}

.news li a:hover {
  opacity: 40%;
  transition: 1s;
}

.news__contents-date {
  margin-right: 10px;
}

.news__contents-desc {
  font-weight: bold;
}

/* 社員ブログ */
.blog {
  padding: 80px 0;
}

.blog__ttl {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.blog__contents {
  margin: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog__contents-card {
  width: 30%;
}

.blog__contents-card a {
  text-decoration: none;
}

.blog__contents-card a:hover {
  opacity: 40%;
  transition: 1s;
}

.blog__contents-card img {
  width: 100%;
}

.blog__contents-date {
  margin: 4px 0;
  font-size: 14px;
  color: #000;
}

.blog__contents-ttl {
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  color: #000;
}

.blog__btn {
  text-align: center;
  margin-top: 30px;
}

.blog__btn a {
  display: inline-block;
  padding: 16px 40px;
  color: #fff;
  background: rgb(160, 0, 0);
  font-weight: bold;
  text-decoration: none;
}

.blog__btn a:hover {
  opacity: 40%;
  transition: 1s;
}

@media screen and (max-width: 1000px) {
  .blog__contents {
    display: flex;
    justify-content: center;
    margin: 0 10%;
  }

  .blog__contents-card {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* その他 */
.others__contents {
  display: flex;
  flex-wrap: wrap;
}

.others__contents-company-a {
  background: rgb(160, 0, 0);
  width: 50%;
  padding: 120px 0;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
}

.others__contents-company-a:hover {
  opacity: 40%;
  transition: 1s;
}

.others__contents-recruit-a {
  background: black;
  width: 50%;
  padding: 120px 0;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
}

.others__contents-recruit-a:hover {
  opacity: 40%;
  transition: 1s;
}

/* お問い合わせ */
.contact {
  background: rgb(248, 248, 248);
  padding: 80px 0;
}

.contact__contents {
  margin: 0 10%;
}

.contact__ttl {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.contact__contents-desc {
  text-align: center;
}

.contact__contents-btn {
  text-align: center;
  margin-top: 30px;
}

.contact__contents-btn a {
  display: inline-block;
  padding: 16px 40px;
  color: #fff;
  background: rgb(160, 0, 0);
  font-weight: bold;
  text-decoration: none;
}

.contact__contents-btn a:hover {
  opacity: 40%;
  transition: 1s;
}

/* footer */
footer {
  padding: 30px 0;
  width: 100%;
  background-color: rgb(36, 35, 35);
  align-items: center;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  color: #fff;
}

.footer-menu p {
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer nav {
  margin: 0 0 0 auto;
}

footer ul {
  list-style: none;
  margin: 0;
  display: flex;
}

footer li {
  padding: 0 10px 0 10px;
  font-size: 12px;
  border-right: 1px solid white;
}

footer li:hover {
  opacity: 40%;
  transition: 1s;
}

footer li:last-child {
  border-right: none;
}
